.toolbar {
  @apply
    flex
    justify-between
    w-full
    shadow-lg
    bg-gray-50
    h-10
  ;
}

.toolbar-group {
  @apply
    flex
    items-center
    justify-center
    divide-x
  ;
}

.toolbar-item,
.toolbar-action {
  @apply
    flex
    items-center
    justify-center
    block
    h-full
    w-auto
  ;
}

.toolbar-action {
  @apply
    w-10
    h-10
  ;

  button {
    @apply
      h-full
      w-full
      transition
      outline-none
      flex
      items-center
      justify-center
      bg-transparent
      text-gray-700
      hover:bg-gray-100
      hover:text-gray-900
      disabled:cursor-not-allowed
      disabled:opacity-50
      disabled:text-gray-500!
      disabled:bg-gray-100!
    ;

    > span {
      @apply sr-only;
    }

    &:before {
      content: '';

      @apply
        block
        text-lg
        text-gray-700
        i-ph:question-mark
      ;
    }

    &.active {
      @apply
        bg-gray-100
        text-gray-900
        shadow-inner
      ;

      &:before {
        @apply
          scale-90
        ;
      }
    }
  }
}

.toolbar-action-group {
  @apply
    relative
  ;

  > .toolbar-menu {
    @apply
      invisible
      absolute
      border
      border-t-none
      rounded
      rounded-t-none
      shadow
      bg-white
      top-10
      left--0.2
      flex
      flex-col
      transition
      -translate-y-full
    ;
  }

  > button {
    &:after {
      content: '';

      @apply
        i-ph:caret-down
        block
        text-xs
        ml-1
      ;
    }
  }

  &.toolbar-menu-open {
    > button {
      @apply
        bg-white
        shadow
        z-1
      ;

      &:after {
        @apply
          i-ph:caret-up
        ;
      }
    }

    > .toolbar-menu {
      @apply
        visible
        translate-y-0
      ;
    }
  }
}
